* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*classi colonne griglia*/
[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-d-1 {width: 8.33%;}
.col-d-2 {width: 16.66%;}
.col-d-3 {width: 25%;}
.col-d-4 {width: 33.33%;}
.col-d-5 {width: 41.66%;}
.col-d-6 {width: 50%;}
.col-d-7 {width: 58.33%;}
.col-d-8 {width: 66.66%;}
.col-d-9 {width: 75%;}
.col-d-10 {width: 83.33%;}
.col-d-11 {width: 91.66%;}
.col-d-12 {width: 100%;}


/*menu*/
.body{
    display: flex;
    align-items: center;
    flex-flow: wrap;
    justify-content: flex-start;
  }

.submenu{
  height: 10vh;
}

.menua{
    position:fixed;
    background-color: rgba(176, 208, 214, 0);
    top: 0px;
    padding: 0px;

    display: flex;
    align-items: flex-start;
    flex-flow: wrap;
    justify-content: flex-start;
  }

.menub{
    position: relative;
    top: 0px;
    padding-bottom: 0px;
    background: rgba(255, 255, 255, 0.8);

    display: flex;
    align-items: flex-start;
    flex-flow: wrap;
    justify-content: flex-start;
  }

.navbar-mobile-box{
    padding: 0px;
  }

.menu{
  background-color: rgb(176, 208, 214);
  height: 80px;
  border-radius: 25px;
  z-index: 3;

  display: flex;
  align-items: center;
  flex-flow: wrap;
  justify-content: flex-start;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 100%;
}
#logo{
    display: block;
    width: auto;
    height: 100%;
    padding: 0px;
}

#logo:hover{
  transform: scale(1.05);
  transition: .5s;
  cursor: pointer;
}

.navbar{
  float: right;
  align-items: center;
  vertical-align: middle;
  max-height: 100%;

  display: flex;
  justify-content: flex-end;
  gap: 24px;
}
.navitems{
    max-height: 100%;
    margin: 0;
    justify-content:center;
    padding: 2px 8px;
    text-align: center;
    border-radius: 20px;
}

.navbar-mobile{
  display: none;
}

.navitems a{
  width: 100%;
  padding: 8px 16px;
}

.menu-button{
  padding: 0px;
}

a{
    color: rgb(0, 0, 0);
    font-size: 12pt;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
}

.navitems:hover{
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid;
    transition: .5s;
    cursor: pointer;
    border-radius: 20px;
}
/*burger menu*/
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    margin-right: 20px;
    cursor: pointer;
    display: none;
    vertical-align: middle;
}

.burger{
  padding: 0px;
  line-height: 40px;
  display: none;
}
/*checkbox*/
#check{
    display: none;
}

/*contenuto pagina*/

.about{
    top: calc(100vh - 100px);
    background-color: white;

    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

.content{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.content-inv{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.space{
  height: 10vh;
  padding: 0px;
}
.space2{
  height: 5vh;
}
.space3{
  height: 5vh;
}

.about .content img{
    height: auto;
    max-width: 100%;
}
.about .content-inv img{
    height: auto;
    max-width: 100%;
}
.text{
    max-width: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

.text h1{
    color: #d7e2e2;
    color: rgb(0, 0, 0);
    font-size: 36pt;
    margin-bottom: 12pt;
    text-transform: capitalize;
}
.text h5{
    color: rgb(176, 208, 214);
    font-size: 20pt;
    margin-bottom: 8pt;
}
.text p {
    font-size: 12pt;
    line-height: 16pt;
    margin-bottom: 4vh;
}

button{
    background-color: rgb(176, 208, 214);
    color: black;
    border: 2px solid transparent;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
}
button a{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
}

button:hover{
    transform: scale(1.1);
    background-color: transparent;
    border: 2px solid;
    transition: .5s;
    cursor: pointer;
}

.footer{

  background-color: rgb(176, 208, 214);
  font-family: Helvetica, Arial, sans-serif;
  color: rgb(255, 255, 255);   /* Colore testo */

  height: 80px;
  bottom: 100px;

  display:flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;   /* Ordine di posizionamento degli elementi uno sotto l'altro */
  text-align: center;
}

.footer-content p{
  max-width: 500px;
  margin: auto;
  line-height: 28px;
  font-size: 10pt;
}

/*fa uscire il menu nel mobile*/
#check:checked ~ .navbar-mobile-box{
    left: 0;
    transition: .5s;
}

#check:checked ~ .navbar-mobile-box .navbar-mobile:before {
    content: '';
    transition: .5s;
}

.navbar-mobile:before {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .8 );
    z-index: -9999;
    pointer-events: none;
}

@media (max-width: 768px){

  .col-d-1 {width: 100%;}
  .col-d-2 {width: 100%;}
  .col-d-3 {width: 25%;}
  .col-d-4 {width: 100%;}
  .col-d-5 {width: 41.66%;}
  .col-d-6 {width: 50%;}
  .col-d-7 {width: 58.33%;}
  .col-d-8 {width: 66.66%;}
  .col-d-9 {width: 100%;}
  .col-d-10 {width: 100%;}
  .col-d-11 {width: 100%;}
  .col-d-12 {width: 100%;}

/*menu nel mobile*/

    .menua{
      padding: 0px;
    }

    .logo{
        width:50%;
        padding: 12px;
        display: flex;
        flex-flow: wrap;
        justify-content: flex-start;
    }
    #logo{
      display: block;
      width: auto;
      height: 100%;
    }
    .checkbtn{
        display: block;
    }
    .burger{
      width: 50%;
      display: block;
    }
    .navbar{
        display: none;
    }

    .navbar-mobile-box{
        width: 100%;
        height: calc( 100vh - 110px);
        background: rgba(255, 255, 255, 0);
        left: -100%;
        padding: 0px;
        z-index: 2;
        position: absolute;
        display: flex;
        align-items: flex-start;
        flex-flow: wrap;
        justify-content: center;
        top: 100%;
    }

    .navbar-mobile{
        height: 100%;
        display: flex;
        align-items: center;
        flex-flow: wrap;
        justify-content: center;
    }

    .navitems-mobile{
        display: block;

        display: flex;
        align-items: center;
        flex-flow: wrap;
        justify-content: center;
    }

    .navitems-mobile a{
      text-align: center;
      vertical-align: middle;
    }
    a{
        width: 100%;
        font-size: 20px;
        display: block;
        vertical-align: middle;
    }
    a:hover{
        background: none;
        color: aqua;
    }

/*content nel mobile*/
    .about{
        width: 100%;
        height: auto;
    }

    .content-inv{ /*inverte ordine contenuto nel mobile*/
        flex-wrap: wrap-reverse;
    }

    .space{
      display: none;
    }
    .space2{
      height: 20vh;
    }
    .space3{
      height: 8vh;
    }


    .text{
      padding-top: 0px;
    }
    .text h1{
        font-size: 32pt;
        margin-bottom: 0px;

    }
    .footer-content p{
      font-size: 8pt;
    }
}
